.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    font-size: 1.5em;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
}

.modal-header h4 {
    margin-block-start: 15px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-footer {
    display: block;
    gap: 10px;
}

.modal-close {
    margin-right: 10px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: min-content;
    height: min-content;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.puzzle-completed-modal-content {
    font-weight: bold;
    background-color: #007bff;
}