#puzzle-container {
    margin: 10px;
    padding: 10px;
    display: block;
}

#puzzle-container img {
    height: auto;
    display: none;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-size: 400px 400px;
    position: absolute;
    cursor: grab;
}

.puzzle-piece.dragging {
    opacity: 0.5;
}