#puzzle-wrapper{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

#puzzle-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #ff5733;
}

#puzzle-container img {
    height: auto;
    display: none;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-size: 400px 400px;
    position: absolute;
    cursor: grab;
}

.puzzle-piece.dragging {
    opacity: 0.5;
}

img {
    padding: 0;
    display: none;
    margin: 0 auto;
    max-height: 600px;
    max-width: 600px;
}

@media (max-width: 575.98px) {
    #uploaded-img {
        width: 90%;
        height: auto;
    }

    #puzzle-piece-container {
        width: 90%;
        height: auto;
        border: none;
    }

    .puzzle-piece {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #uploaded-img {
        width: 100%;
        height: auto;
    }

    #puzzle-piece-container {
        width: 100%;
        height: auto;
        border: none;
    }

    .puzzle-piece {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #uploaded-img {
        width: 80%;
        height: auto;
    }

    #puzzle-piece-container {
        width: 80%;
        height: auto;
        border: 1px solid #ccc;
    }

    .puzzle-piece {
        width: 90px;
        height: 90px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #uploaded-img {
        width: 70%;
        height: auto;
    }

    #puzzle-piece-container {
        width: 70%;
        height: auto;
        border: 1px solid #ccc;
    }

    .puzzle-piece {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1200px) {
    #uploaded-img {
        width: 60%;
        height: auto;
    }

    #puzzle-piece-container {
        width: 60%;
        height: auto;
        border: 1px solid #ccc;
    }

    .puzzle-piece {
        width: 100px;
        height: 100px;
    }
}